<!DOCTYPE html>
<html>

<body>
<h2> Login </h2>
<form action="{% url 'bookstr:logins'%}" method="post" id="noc" name="noc">
  {% csrf_token %}

  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br>

  <br>
  <input type="submit" value="Login">

</form>


<h3> If you don't have an account Signup here</h3>
<div style="margin-left:45px;">
  <p><a href="{% url 'bookstr:signup'%}"> <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-play"></span> Sign Up</button> </a></p>
</div>

</body>
</html>
